<mat-card>

  <div class="Tarefa-box" >
    <button routerLink="cadastro" mat-raised-button color="primary">Cadastrar nova tarefa</button>
    <div class="input-box">
      <mat-form-field>
        <mat-label>Procurar:</mat-label>
        <input matInput type="text" placeholder="Qual registro está buscando?" (input)="search($event)">
      </mat-form-field>
    </div>
</div>



  <table mat-table [dataSource]="Tarefas" class="mat-elevation-z8">
    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let Tarefa"> {{Tarefa.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="Situação">
      <th mat-header-cell *matHeaderCellDef>Situação</th>
      <td mat-cell *matCellDef="let Tarefa"> {{Tarefa.situacao}} </td>
    </ng-container>

    <ng-container matColumnDef="Início">
      <th mat-header-cell *matHeaderCellDef>Início</th>
      <td mat-cell *matCellDef="let Tarefa"> {{Tarefa.dataInicio}} </td>
    </ng-container>

    <ng-container matColumnDef="Conclusão">
      <th mat-header-cell *matHeaderCellDef>Conclusão</th>
      <td mat-cell *matCellDef="let Tarefa"> {{Tarefa.dataConclusao}} </td>
    </ng-container>

    <ng-container matColumnDef="Responsável">
      <th mat-header-cell *matHeaderCellDef>Responsável</th>
      <td mat-cell *matCellDef="let Tarefa"> {{Tarefa.responsavel}} </td>
    </ng-container>

    <ng-container matColumnDef="Ações">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let Tarefa">
        <a  routerLink="editar/{{Tarefa.id}}" mat-raised-button color="primary">Editar</a>
        <a  routerLink="detalhes/{{Tarefa.id}}"  mat-raised-button>Detalhes</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Excluir">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let Tarefa">
        <mat-dialog-actions>
          <a  (click)="openDialog(Tarefa.id)"  mat-raised-button color="warn">Excluir</a>
        </mat-dialog-actions>
      </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

</mat-card>
