
<mat-card>

  <div >
      <h1 class="text-light">Detalhes da Tarefa</h1>
  </div>

<div *ngIf="Tarefa">

<form  >


<div class="input-box">
  <mat-form-field>
    <mat-label>Nome:</mat-label>
   <input matInput type="text" class="form-control text-dark" value="{{Tarefa.nome}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Descrição:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{Tarefa.descricao}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Responsável:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{Tarefa.responsavel}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Data de Início:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{Tarefa.dataInicio}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Data de Conclusão:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{Tarefa.dataConclusao}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Situação:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{Tarefa.situacao}}" disabled>
    </mat-form-field>
</div>




<div class="btn-box">
    <a  routerLink=""  mat-raised-button>Voltar</a>
</div>


</form>
</div>


</mat-card>
